
<html>
    <body>
        <h1> My first AI prediction (DBS Share Price) </h1>
        
        <form action ="/" method="post">
           <p> Please enter the exchange rate USD to SGD (e.g. 1.4)</p>
           <p> <input type = "number" step =".01" name = "rates"></p>
           <p> <input type = "submit" value = "Enter"></p>
        </form>
        <p>
            The predicted DBS share price (regression) is {{result1}}
        </p>

        <p>
            The predicted DBS share price (regression) is {{result2}}
        </p>


    
            <h2>Notes</h2>
            <p>This HTML is the front-end. Flask is your back end. <br>
                flask: web development application / framework.
            <br>web service: gunicorn
            <br>VS code: development environment, important for it to work on cloud environment (github)
            <br> *double curly bracket means its from back end.
        </p>        
    </body>


</html>

